/*

Importação de Fontes:
    Researcher: https://www.dafont.com/pt/researcher.font (checar uso)
    Dongle: https://fonts.google.com/specimen/Dongle (uso livre)
    Roboto: https://fonts.google.com/specimen/Roboto (uso livre)

Algumas fotos obtidas através do unsplash, é recomendável revermos as licensas delas.
Icones obtidos através do Google Material Icons, e Importados via React, de uso gratuito.

*/

@font-face {
    font-family: "ResearcherRegular"; /*Can be any text*/
    src: local("researcher-researcher-regular-400"), url("./assets/fonts/researcher-researcher-regular-400.woff2") format("woff2");
}
@font-face {
    font-family: "ResearcherBold"; /*Can be any text*/
    src: local("researcher-researcher-bold-700"), url("./assets/fonts/researcher-researcher-bold-700.woff2") format("woff2");
}
@font-face {
    font-family: "ResearcherThin"; /*Can be any text*/
    src: local("researcher-researcher-thin-200"), url("./assets/fonts/researcher-researcher-thin-200.woff2") format("woff2");
}
@font-face {
    font-family: "ResearcherSquid"; /*Can be any text*/
    src: local("researcher-researcher-squid-700"), url("./assets/fonts/researcher-researcher-squid-700.woff2") format("woff2");
}

/* Configurações e Variáveis */

:root {
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --color-debug: #f00; /* Legacy */

    /* lightmode colors */
    --bg_white: #ffffff;
    --bg_white_fade_little: #ffffffc0;
    --bg_white-faded: #ffffff4e;

    --font_darkBlue: #000343;
    --primary_mediumBlue: #4400ffe3;
    --primary_mediumBlue_Faded: #4400ff64;
    --secondary_clearBlue: #00aaff;
    --secondary_clearBlue_Faded: #00aaffc0;

    --error_orange: #ff5520;
    --warning_yellow: #ffae2d;
    --info_purple: #ae00ff;
    --success_turquoise: #00ffd5de;

    /* darkmode colors */
    --bg_darkBlue: #000343;
    --bg_darkBlue_Faded: #00034365;

    --font_white: #ffffff;

    --primary_mediumBlue: #4400ffe3;
    --secondary_clearBlue: #00aaff;

    --error_orange: #ff5520;
    --warning_yellow: #ffae2d;
    --info_purple: #ae00ff;
    --success_turquoise: #00ffd5de;

    /* Basic Colors */
    color-scheme: light dark;
    color: var(--font_white);
    background-color: var(--bg_white);

    /* Layout Fallback */
    --full-height: 100vh;

    --nav-height: 5vh;
    --footer-height: 0vh;
    --sectionviewer-height: calc(var(--full-height) - var(--nav-height) - var(--footer-height));

    /* Layout */
    --full-height: 100svh;
    --full-width: 100vw;

    --root-padding: var(--small-gap);

    --nav-height: 5svh;
    --nav_margin_bottom: var(--small-gap);

    --nav_sideblock_width: 20svw;

    --statusbar_height: 5svh;
    --statusbar_margin_bottom: var(--small-gap);

    --sectionviewer_margin_bottom: var(--small-gap);

    --footer-height: 5svh;

    --sectionviewer-height: calc(
        var(--full-height) - (2 * var(--root-padding)) - var(--nav-height) - var(--nav_margin_bottom) - var(--statusbar_height) -
            var(--sectionviewer_margin_bottom) - var(--footer-height)
    );

    --scrollbar-size: 10px;

    --small-border-radius: 0.25rem;
    --medium-border-radius: 0.5rem;
    --large-border-radius: 1rem;
    --larger-border-radius: 1.5rem;

    --small-gap: 1vh;
    --medium-gap: 2.5vh;
    --large-gap: 5vh;
    --larger-gap: 10vh;

    --carroussel-card-width: 300px;
    --carroussel-card-height: 100%; /* ou 300px */
    --card-padding: var(--small-gap);

    --experience-cards-ammount: 17;
    --partners-card-ammount: 12;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    background-color: transparent;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

/* Layout Mestre */

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

#root {
    width: var(--full-width);
    height: var(--full-height);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: var(--root-padding);

    background-image: linear-gradient(to bottom, var(--secondary_clearBlue), var(--bg_darkBlue));
}

.Nav_SideBlock {
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--small-gap);
}

.Nav_SideBlock_2 {
    justify-content: flex-end;
}

.Nav_MainBlock {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.StatusBar {
    height: var(--statusbar_height);
    width: 100%;

    background: repeating-linear-gradient(
        -30deg,
        var(--bg_darkBlue),
        var(--bg_darkBlue) 1px,
        transparent 2px,
        transparent 10px,
        var(--bg_darkBlue) 11px
    );

    background-size: 200% 200%;
    animation: barberpole 120s linear infinite;

    margin-bottom: var(--statusbar_margin_bottom);

    border-radius: var(--small-gap);
}

@keyframes barberpole {
    100% {
        background-position: 100% 100%;
    }
}

.lgpd {
    display: none;
}

.Content_Viewer {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    margin-bottom: var(--sectionviewer_margin_bottom);
}

.Route_Container {
    width: 100%;
    height: var(--sectionviewer-height);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.Main_Text {
    font-size: 1.6rem;
    padding-inline: 0;
    font-family: "Roboto";
    font-weight: 200;
    text-align: center;
    margin-block: var(--small-gap);
}

.Footer {
    height: var(--footer-height);
    width: 100%;

    background: repeating-linear-gradient(
        -30deg,
        var(--secondary_clearBlue),
        var(--secondary_clearBlue) 1px,
        transparent 2px,
        transparent 10px,
        var(--secondary_clearBlue) 11px
    );

    background-size: 200% 200%;
    animation: barberpole 180s linear infinite reverse;

    border-radius: var(--small-gap);
}

/* Loading Screen */

.Loading {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    place-items: center;
}

/* Lgpd Container */

.lgpd_container {
    display: none;
    position: absolute;
}

.lgpd_container.active {
    display: flex;
    flex-direction: column;

    place-items: center;
}

/* Tipografia */

a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    text-decoration: none;
    list-style: none;

    white-space: nowrap;
}
a:hover {
    color: #535bf2;
}

h1 {
    display: flex;
    flex-direction: column;
    place-items: center;

    font-family: ResearcherBold, sans-serif;
    font-size: 2.4rem;
    line-height: 2.4rem;
}

.Route_Title {
    text-transform: capitalize;
    color: var(--bg_white);
    font-size: clamp(1.5rem, 10vw, 10rem);
    line-height: normal;
}

ul,
li {
    text-decoration: none;
    list-style: none;
}

/* Navbar */

.Main_Navbar {
    z-index: 10;
    width: 100%;
    height: var(--nav-height);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-shrink: 0;

    padding-inline: var(--small-gap);
    margin-bottom: var(--nav_margin_bottom);

    border-radius: 1rem;
    background-color: var(--bg_darkBlue);
}

.LogoType_Container:hover,
.LogoType_Container:focus,
.LogoType_Container.active {
    scale: 1.02;
}

.LogoType_Container:hover .Logo_Text_Container > *,
.LogoType_Container:focus .Logo_Text_Container > *,
.LogoType_Container.active > *,
.LogoType_Container.active > .Logo_Text_Container > * {
    fill: var(--bg_white);
}

.LogoType_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    transition: all 0.2s ease-in-out;
}

.Logo {
    width: 2rem;
    flex-shrink: 0;
    aspect-ratio: 1;
    fill: var(--secondary_clearBlue);
    transition: all 0.2s ease-in-out;
}

.Logo_Text_Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 1;
    gap: 0.3rem;
    height: 100%;
}

.Logo_Text_Svg {
    height: 0.7rem;
    flex-shrink: 0;
    fill: var(--secondary_clearBlue);
    transition: all 0.2s ease-in-out;
}

.NavLinks_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: clamp(0.2rem, 2vw, 1rem);
    width: 100%;
    height: 100%;
}

.NavLink:hover,
.NavLink:focus,
.NavLink.active {
    color: var(--font_white);
    background-color: var(--secondary_clearBlue);
    scale: 1.02;
}

.NavLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: clamp(0.01rem, 2vw, 0.05rem) clamp(0.5rem, 2vw, 2rem);

    border-radius: 0.5rem;
    font-family: Dongle, sans-serif;
    font-weight: 300;
    font-size: clamp(1.6rem, 2vw, 1.6rem);

    text-transform: uppercase;

    color: var(--secondary_clearBlue);
    transition: all 0.2s ease-in-out;
}

.NavLink_Text {
    padding-top: 0.3rem;
    margin-block: -0.3rem;
}

.Menu_Button.active .Menu_Button_Arrow {
    rotate: 0deg;
}

.Menu_Button_Container {
    transition: all 0.2s ease-in-out;
}

.Menu_Button {
    align-items: center;
    background-color: var(--bg_white-faded);
    padding-inline: var(--small-gap);
    padding-block: 0.2rem;
    border-radius: 0.5rem;
    overflow: hidden;
    color: var(--secondary_clearBlue);
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.Menu_Button_Container:hover,
.Menu_Button_Container:focus {
    scale: 1.1;
}

.Menu_Button_Container:hover .Menu_Button,
.Menu_Button_Container:focus .Menu_Button {
    color: var(--font_white);
    background-color: var(--secondary_clearBlue);
}

.Menu_Button_Icon {
    font-size: 1.4rem;
}

.Menu_Button_Action {
    padding-left: 8px;
}

.Menu_Button_Arrow {
    rotate: -90deg;
    scale: 1.5;
    transition: all 0.2s ease-in-out;
}

.Menu_Button_Text {
    padding-bottom: 0.1rem;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
}

.menu_extra {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: var(--small-gap);

    width: 67%;

    perspective: 1000px;
}

.Logo_Extra {
    height: 50%;
    aspect-ratio: 1/1;
    fill: var(--secondary_clearBlue);
}

@keyframes Rotate360 {
    0% {
        transform: translateY(-10px) rotateY(0deg);
    }

    50% {
        transform: translateY(10px) rotateY(180deg);
    }

    100% {
        transform: translateY(-10px) rotateY(360deg);
    }
}

.menu {
    width: 100%;
    height: var(--sectionviewer-height);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: var(--small-gap);

    border-radius: var(--small-gap);
    background-color: #1a1a1aa4;
}

.menu_container {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: var(--small-gap);
}

.menu a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    height: 30px;

    margin-bottom: var(--small-gap);
}

.lang_state {
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 0.5rem;
}

.Menu_Button_Arrow {
    margin-left: -0.25rem;
}
.preferences_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: clamp(0.01rem, 2vw, 0.05rem) clamp(0.5rem, 2vw, 2rem);
}

.preferences_icon,
.preferences_text {
    color: inherit;
}

.PrefLink {
    color: var(--bg_white_fade_little);
}

.PrefLink:hover,
.PrefLink:focus {
    transform: scale(1.05);
    color: var(--bg_white);
}

.PrefLink:hover > *,
.PrefLink:focus > * {
    color: var(--bg_white);
}

/* Home */

.Home_Route {
}

.card-container {
    display: flex;
    height: 100%;
    width: 100%;

    position: relative;

    overflow-x: hidden; /* ou overflow-x: auto */

    border-radius: var(--small-gap);
}

.card-container-track {
    display: flex;
    height: 100%;
    width: 100%;
}

.track-experiencias {
    animation: scrollLeft_Experiencias 90s linear infinite;
}

.track-parceiros {
    transform: translateX();
    animation: scrollRight_Parceiros 90s linear infinite reverse;
}

.track-experiencias > .card > img {
    width: 96%;
    height: 95%;
}

.track-parceiros > .card > img {
    object-fit: contain;
    width: 60%;
}

@keyframes scrollLeft_Experiencias {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(var(--carroussel-card-width) * var(--experience-cards-ammount) * -1));
    }
}

@keyframes scrollRight_Parceiros {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(var(--carroussel-card-width) * var(--partners-card-ammount) * -1));
    }
}

.card {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 300px;
    grid-template-rows: repeat(2, 50%);
    height: var(--carroussel-card-height);
    border-radius: var(--small-gap);
    flex-shrink: 0;
    flex-grow: 0;
}

.card > img {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.35rem;
}

.card > .card-content {
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;
    width: 100%;
    background-color: var(--bg_darkBlue_Faded);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    border-radius: var(--small-gap);

    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.card-content:hover {
    opacity: 1;
}

.Home_Title_Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-block: var(--large-gap);
}

.Home_Title_Group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    padding-inline: var(--large-gap);
}

.Home_Title {
    text-align: start;
    flex-direction: row;
    justify-content: start;
    font-size: clamp(3rem, 10vw, 6rem);
    text-transform: none;
}

.Home_Title_Changer {
    margin-left: var(--small-gap);
    margin-right: auto;
    font-size: clamp(3rem, 10vw, 6rem);
}

@media screen and (max-width: 768px) {
    .Home_Title_Group {
        flex-direction: column;
    }

    .Home_Title {
        text-align: center;
    }

    .Home_Title_Changer {
        margin-left: auto;
    }
}

/* Robôs */

.Robots_Container::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.5rem;
}

.Robots_Container::-webkit-scrollbar-track {
    background-color: #ffffff30;
    border-radius: 0.5rem;
}

.Robots_Container::-webkit-scrollbar-thumb {
    background-color: var(--secondary_clearBlue);
    border-radius: 0.5rem;
}

.Robots_Container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: var(--small-gap);

    overflow-x: auto;
    overflow-y: visible;

    padding-block: var(--small-gap);

    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.Robot_Card:focus-within .Robot_Background_Image,
.Robot_Card:focus .Robot_Background_Image,
.Robot_Card:hover .Robot_Background_Image {
    opacity: 1;
    filter: brightness(2);
}

.Robot_Card:focus-within .Robot_Card_Title_Container > *,
.Robot_Card:focus .Robot_Card_Title_Container > *,
.Robot_Card:hover .Robot_Card_Title_Container > * {
    color: var(--bg_white);
}

.Robot_Card {
    aspect-ratio: 9/15;
    height: 100%;
    max-width: 85vw;
    background-color: #1a1a1a8e;
    border-radius: var(--small-gap);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    flex-shrink: 0;

    overflow: hidden;

    margin-inline: auto;

    position: relative;

    border: 1px solid var(--secondary_clearBlue);

    transition: all 0.2s ease-in-out;

    scroll-snap-align: center;
    cursor: default;
}

.First_Robot_Card {
    margin-left: 0;
}

.Last_Robot_Card {
    margin-right: 0;
}

.Robot_Card_Title_Container {
    z-index: 2;
    position: absolute;
    top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Robot_Card_Title {
    font-family: ResearcherBold, sans-serif;
    font-size: 3.8rem;
    margin-top: -1rem;
    color: var(--secondary_clearBlue);
}

.Robot_Card_SubTitle {
    font-family: ResearcherRegular, sans-serif;
    font-size: 1.4rem;
}

.Robot_Image_Container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
}

.Robot_Button:hover,
.Robot_Button:focus {
    background: #ffffffcd;
    color: var(--bg_darkBlue);
}

.Robot_Button {
    z-index: 2;
    position: absolute;
    height: 5vh;
    width: 100%;
    border-top: 1px solid var(--secondary_clearBlue);
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
    font-family: Dongle;
    font-weight: 300;
    padding: 0 var(--medium-gap);
    cursor: pointer;

    box-shadow: 0px -20px 20px 0px var(--bg_darkBlue);
    background: var(--secondary_clearBlue_Faded);
    backdrop-filter: blur(5px);
    color: var(--bg_darkBlue);

    transition: all 0.2s ease-in-out;
}

.Robot_Main_Image {
    z-index: 1;
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;

    object-fit: cover;
}

.Robot_Background_Image {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    width: 100%;

    opacity: 0.5;

    object-fit: cover;

    transition: all 0.2s ease-in-out;
}

/* Robot Info */

.Robot_Info_Route_Container {
    flex-direction: row;
}

.Robot_Info_Close {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.4rem;
    cursor: pointer;
    z-index: 3;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: var(--small-gap);
    padding: var(--small-gap);
    border-radius: var(--small-gap);
    gap: var(--small-gap);

    transition: background-color 0.2s ease-in-out;
}

.Robot_Info_Close:hover {
    background-color: var(--bg_darkBlue_Faded);
}

.Robot_Info_Media_Container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--small-gap);
    overflow: hidden;
}

.Robot_Info_Image_Container {
    height: 100%;
    width: 100%;

    position: relative;
}

.Robot_Info_Main_Image {
    position: absolute;
    aspect-ratio: 1/1;
    z-index: 2;
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;

    scale: 1;

    object-fit: contain;
}

.Robot_Info_Background_Image {
    z-index: 1;
    position: absolute;
    aspect-ratio: 1/1;
    grid-column: 1/2;
    grid-row: 1/2;

    left: 0;

    height: 100%;
    width: 100%;

    opacity: 0.5;

    object-fit: cover;

    transition: all 0.2s ease-in-out;
}

.Robot_Info_Specs_Container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-inline: var(--medium-gap);
    padding-block: var(--medium-gap);
}

.Specs_Title {
    color: var(--bg_darkBlue);
    font-size: clamp(2.5rem, 5vw, 5rem);
}

.Specs_SubTitle {
    text-align: center;
    font-weight: 200;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.Specs_Description {
    font-weight: 200;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.Specs_List {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    overflow-y: auto;
    margin-block: var(--medium-gap);
}

.Specs_List li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--small-gap);

    font-size: 1.4rem;
    font-weight: 200;
}

.Specs_List svg {
    fill: var(--bg_darkBlue);
}

.Action_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
    width: 100%;
}

.Action_Container > * {
    font-size: 1.2rem;
    font-weight: 400;

    background-color: var(--secondary_clearBlue);
    color: var(--bg_white);
    padding: var(--small-gap);

    width: 24%;
    border-radius: var(--small-gap);
}

/* Serviços / Soluções */

.Service_Text_Container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: var(--medium-gap);
    width: 50%;
    z-index: 2;
    left: 0;
}

.Service_Text_Container a {
    justify-content: start;
    font-size: clamp(1.5rem, 1.5vw, 4rem);
}

.Solution_List {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}

.Solution_Anchor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--medium-gap);
    color: var(--secondary_clearBlue);
}

.Solution_Icon {
    width: 60px;
    height: 60px;
    fill: var(--secondary_clearBlue);
}

.video-overlay {
    z-index: 1;
    position: absolute;
    background-image: linear-gradient(to right, var(--bg_darkBlue), transparent);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--small-gap);
}

.Solution_Video-Container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    border-radius: var(--small-gap);
}

.Solution_Video-Container::-webkit-scrollbar {
    display: none;
}

.Solution_Container {
    position: relative;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Solution_Info {
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
    margin: var(--medium-gap);
    font-size: 3rem;

    background-color: var(--secondary_clearBlue_Faded);
    padding: var(--small-gap);
    padding-inline: var(--medium-gap);
    border-radius: var(--small-gap);
    color: var(--bg_white);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.Solution_Info:hover {
    transform-origin: right;
    transform: scale(1.08);
    color: var(--bg_white);
}

.Solution_Container_Icon {
    width: 60px;
    height: 60px;
    fill: var(--bg_white);
}

.Solution_Description {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    margin: var(--medium-gap);
    font-size: 1.4rem;

    background-color: var(--secondary_clearBlue_Faded);
    padding: var(--small-gap);
    padding-inline: var(--medium-gap);
    border-radius: var(--small-gap);
    color: var(--bg_white);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    width: 30%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.Solution_Video-Container video {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: var(--small-gap);
    filter: opacity(0.8);
}

/* Sobre */

.Sobre_Route {
}

.Sobre_Title {
    flex-shrink: 0;
}

.About_Title_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--medium-gap);
    margin-bottom: var(--medium-gap);
    padding-right: var(--medium-gap);
}

.Sobre_Text {
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: start;
    color: var(--bg_darkBlue);
}

.Sobre_Foto {
    height: 60%;
    flex-grow: 100;
    width: 100%;
    object-fit: cover;
    border-radius: var(--small-gap);
    border: 1px solid var(--secondary_clearBlue);
    filter: opacity(0.7);
}

/* Contato */

.Contato_Route {
    flex-direction: row;
}

.Contato_Title_Container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--small-gap);
}

.Contato_Title_Container p {
    text-align: start;
}

.Contato_Text {
    font-size: 3rem;
    font-weight: 200;
    margin-block: 0;
    margin-top: -1rem;
    margin-bottom: var(--small-gap);
}

.Contato_Container_1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: var(--small-gap);
    height: 100%;
    width: 50%;
    padding: var(--medium-gap);
}

.Contato_Mapa_Container {
    height: 60%;
    flex-grow: 1000;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: var(--small-gap);
    border: 1px solid var(--secondary_clearBlue);
    overflow: hidden;
}

.Contato_Mapa {
    height: 100%;
    width: 100%;
    border: none;
    filter: opacity(1) contrast(1.1) brightness(0.8);
    mix-blend-mode: hue;
}

.Form_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: var(--small-gap);
    width: 50%;
    height: 100%;
    padding: var(--medium-gap);
}

.Form_Container a {
    width: 100%;
    background-color: var(--secondary_clearBlue);
    font-family: Dongle;
    font-weight: 300;
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    padding: var(--small-gap);
    border-radius: var(--small-gap);
}

.Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.Form > * {
    width: 100%;
    padding: var(--small-gap);
    border-top: 1px solid var(--bg_darkBlue);
    border-left: 1px solid var(--bg_darkBlue);
    border-right: 1px solid var(--bg_darkBlue);
}

.first-input {
    border-radius: var(--small-gap) var(--small-gap) 0 0;
}

input {
    height: 3.5rem;
}
textarea:hover,
input:hover,
textarea:focus,
input:focus {
    background-color: var(--bg_darkBlue_Faded);
}

textarea,
input {
    font-size: 1rem;
    color: var(--bg_white);
}

textarea::placeholder,
input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "Roboto";
    color: var(--bg_white);
    opacity: 1; /* Firefox */
}

.Form_Submit {
    width: 100%;
    background-color: var(--bg_darkBlue);
    font-family: Dongle;
    font-weight: 300;
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    padding: var(--small-gap);
    border-radius: 0 0 var(--small-gap) var(--small-gap);
    margin-bottom: 0;
    cursor: pointer;
    color: var(--bg_white);
    border-bottom: 1ps solid var(--bg_darkBlue);
}

.Action_Buttons_Container {
    width: 100%;
    gap: var(--small-gap);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Big_Buttons {
    width: 100%;
    flex-grow: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
    margin-right: var(--small-gap);
}

.Form_Submit,
.NewsLetter_Button,
.WhatsApp_Button {
    height: 4rem;
}

.Form_Submit:focus,
.NewsLetter_Button:focus,
.WhatsApp_Button:focus,
.Form_Submit:hover,
.NewsLetter_Button:hover,
.WhatsApp_Button:hover {
    background-color: var(--bg_white);
    color: var(--bg_darkBlue);
}

.Action_Buttons_Container p {
    font-weight: 300;
    color: var(--bg_darkBlue);
}

.Icone_Vetor {
    width: 40px;
    height: 40px;
}

.Social_Media_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
    width: 110px;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.Social_Media_Icon {
    width: 50px !important;
    height: 50px !important;
    padding: 0.75rem !important;

    padding: 0;
    margin: 0;

    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 50% !important;

    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.Social_Media_Icon svg {
    fill: var(--bg_darkBlue);
}

.Social_Media_Icon:focus,
.Social_Media_Icon:hover {
    background-color: var(--bg_white);
    color: var(--bg_white);
}

/* FAQ */

.faq-content {
    position: static;

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

    overflow: hidden;

    margin-top: 2vh;
}

.accordion-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: center;
    justify-content: flex-start;

    height: 100%;
    width: 100%;
    max-width: 1200px;

    overflow-y: scroll;
}

.accordion-wrapper .container {
    position: static;
    max-width: 800px;
}

.accordion-wrapper .label,
.accordion-wrapper .content {
    color: var(--bg_white);
}

.accordion-wrapper hr {
    width: 100%;
    height: 1px;

    background-color: var(--bg_white);
    opacity: 0.5;
}

.accordion-wrapper .container {
    margin: 30px 10px;
}

.accordion-wrapper .label {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 1vh;
}

.accordion-wrapper::-webkit-scrollbar {
    background-color: var(--bg_white-faded);
    border-radius: 5px;
}

.accordion-wrapper::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--bg_darkBlue);
}

/* Add any additional styling as per your requirements */

/* generate a media query based on width using the screen method */

@media screen and (max-width: 1280px) {
    .Desktop_Only_Extended {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .Desktop_Only {
        display: none;
    }

    .Nav_SideBlock,
    .Nav_MainBlock {
        width: auto;
    }
}

@media screen and (min-width: 600px) {
    .Mobile_Only {
        display: none;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}
