@font-face {
    font-family: "ResearcherRegular"; /*Can be any text*/
    src: local("researcher-researcher-regular-400"), url("./assets/fonts/researcher-researcher-regular-400.woff2") format("woff2");
}
@font-face {
    font-family: "ResearcherBold"; /*Can be any text*/
    src: local("researcher-researcher-bold-700"), url("./assets/fonts/researcher-researcher-bold-700.woff2") format("woff2");
}
@font-face {
    font-family: "ResearcherThin"; /*Can be any text*/
    src: local("researcher-researcher-thin-200"), url("./assets/fonts/researcher-researcher-thin-200.woff2") format("woff2");
}
@font-face {
    font-family: "ResearcherSquid"; /*Can be any text*/
    src: local("researcher-researcher-squid-700"), url("./assets/fonts/researcher-researcher-squid-700.woff2") format("woff2");
}

:root {
    font-family: ResearcherRegular, Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

h1 {
    font-family: ResearcherBold, sans-serif;
    font-size: 2.4rem;
    line-height: 2.4rem;

    display: flex;
    flex-direction: column;
    place-items: center;
}

ul,
li {
    text-decoration: none;
    list-style: none;
}

.Loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.Main_Navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-inline: 3rem;
    height: 15vh;
}

.LogoType_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.Logo {
    width: clamp(5rem, 10vw, 6rem);
    aspect-ratio: 1;
}

.NavLinks_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.NavLinks {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 2rem;
}

a {
    font-family: ResearcherRegular, Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    color: #646cff;
    text-decoration: none;
    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
a:hover {
    color: #535bf2;
}

.menu {
    position: absolute;
    top: 15vh;
    left: 0;
    width: 100vw;
    height: 85vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #1a1a1a;
}

.menu a {
    height: 30px;
}

.lang_state {
    font-family: Dongle;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    place-items: center;
    padding-top: 0.32rem;
}

.menu_arrow {
    padding-right: 0.3rem;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.Route_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 85vh;
    padding: 2rem;
    background-color: white;
    border-radius: 1rem 1rem 0 0;
}

.Route_Title {
    color: #1a1a1a;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}
