@font-face {
    font-family: "ResearcherRegular"; /*Can be any text*/
    src: local("researcher-researcher-regular-400"), url("./assets/fonts/researcher-researcher-regular-400.woff2") format("woff2");
}
@font-face {
    font-family: "ResearcherBold"; /*Can be any text*/
    src: local("researcher-researcher-bold-700"), url("./assets/fonts/researcher-researcher-bold-700.woff2") format("woff2");
}
@font-face {
    font-family: "ResearcherThin"; /*Can be any text*/
    src: local("researcher-researcher-thin-200"), url("./assets/fonts/researcher-researcher-thin-200.woff2") format("woff2");
}
@font-face {
    font-family: "ResearcherSquid"; /*Can be any text*/
    src: local("researcher-researcher-squid-700"), url("./assets/fonts/researcher-researcher-squid-700.woff2") format("woff2");
}

:root {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* lightmode colors */
    --bg_white: #ffffff;
    --bg_white-faded: #ffffff4e;
    --font_darkBlue: #000343;
    --primary_mediumBlue: #4400ffe3;
    --secondary_clearBlue: #00aaff;
    --error_orange: #ff5520;
    --warning_yellow: #ffae2d;
    --info_purple: #ae00ff;
    --success_turquoise: #00ffd5de;

    /* darkmode colors */
    --bg_darkBlue: #000343;
    --font_white: #ffffff;
    --primary_mediumBlue: #4400ffe3;
    --secondary_clearBlue: #00aaff;
    --error_orange: #ff5520;
    --warning_yellow: #ffae2d;
    --info_purple: #ae00ff;
    --success_turquoise: #00ffd5de;

    color-scheme: light dark;
    color: var(--font_white);
    background-color: var(--bg_white);
}

* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    padding: 2.5vh;
}

h1 {
    display: flex;
    flex-direction: column;
    place-items: center;

    font-family: ResearcherBold, sans-serif;
    font-size: 2.4rem;
    line-height: 2.4rem;
}

ul,
li {
    text-decoration: none;
    list-style: none;
}

.Loading {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    place-items: center;
}

.Main_Navbar {
    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    margin-bottom: 2.5vh;

    border-radius: 1rem;
    background-color: var(--bg_darkBlue);
}

.LogoType_Container:hover,
.LogoType_Container:focus,
.LogoType_Container.active {
    scale: 1.02;
}

.LogoType_Container.active > * {
    color: var(--secondary_clearBlue);
}

.LogoType_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin-right: 5rem;

    transition: all 0.2s ease-in-out;
}

.Logo {
    width: clamp(2rem, 10vw, 4rem);
    aspect-ratio: 1;
}

.Logo_Text {
    letter-spacing: -0.05rem;
    color: var(--font_white);
}

.NavLinks_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    height: 100%;
}

.NavLink:hover,
.NavLink:focus,
.NavLink.active {
    color: var(--font_white);
    background-color: var(--secondary_clearBlue);
}

.NavLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 0.5rem 2rem;

    border-radius: 2rem;
    font-family: ResearcherThin, sans-serif;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    letter-spacing: -0.3rem;

    color: var(--secondary_clearBlue);
    transition: all 0.2s ease-in-out;
}

.NavLink_Text {
    padding-bottom: 0.3rem;
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    text-decoration: none;
    list-style: none;

    white-space: nowrap;
}
a:hover {
    color: #535bf2;
}

.Menu_Button.active .Menu_Button_Arrow {
    rotate: 0deg;
}

.Menu_Button {
    background-color: var(--bg_white-faded);
    padding-inline: 1.5rem;
}

.Menu_Button_Icon {
    font-size: 1.8rem;
}

.Menu_Button_Arrow {
    rotate: -90deg;
    scale: 1.5;
    transition: all 0.2s ease-in-out;
}

.Menu_Button_Text {
    padding-bottom: 0.1rem;
}

.menu {
    position: absolute;
    top: 15vh;
    left: 0;
    width: 100vw;
    height: 85vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #1a1a1a;
}

.menu a {
    height: 30px;
}

.lang_state {
    font-family: Dongle;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    place-items: center;
    padding-top: 0.32rem;
}

.menu_arrow {
    padding-right: 0.3rem;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.Route_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 82.5vh;
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
}

.Route_Title {
    color: #1a1a1a;
}

.Home_Title_Group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 800px;
    gap: 2rem;
}

.Home_Title {
    text-align: start;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
}

.Home_Title strong {
    color: #747bff;
}

.Robots_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.Robot_Card {
    width: 400px;
    height: 600px;
    background-color: #1a1a1a;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    padding-top: 3rem;
}

.Robot_Main_Image {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}
